.comment {
    color: $darkGrey;
    margin-bottom: 16px;

    &__wrapper {
        border-radius: 8px;
        border: 1px solid $lightGrey;

    }
}

.comment-author {
    padding: 8px;

    &__image-wrapper {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background: #fa786b;
        overflow: hidden;
    }

    &__data {
        margin-left: 10px;
    }

    &__name {
        font-size: 20px;
        margin-bottom: 4px;
    }
}

.comment-content {
    padding: 5px 15px 0;

    &__text {
        font-size: 16px;
        margin-bottom: 6px;
    }
}
